* {
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
}

nav div {
  display: inline-block;
  margin-left: 5px;
}

nav {
  background-color: yellow;
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 300;
  text-decoration: none;
  color: black;
}

.logo img {
  width: 80px;
}

.anchors {
  margin-left: 170px;
}

.hero {
  text-align: center;
}

.hero div {
  display: inline-block;
  width: 45%;
  margin-top: 20px;
}

.description p {
  font-size: 20px;
  height: fit-content;
}

.banner img {
  height: 250px;
  padding-left: 150px;
}

.about h1 {
  text-align: center;
  font-size: 28px;
}

.aboutsection {
  margin: auto;
  margin-top: 100px;
}

.about p {
  text-align: justify;
  margin: 20px 40px;
}

.coursesection {
  margin-top: 30px;
  margin-bottom: 100px;
}

.coursesection .course {
  width: 28%;
  display: inline-block;
  margin: 0 15px;
  box-shadow: 10px 6px 20px black;
  padding: 8px;
  border-radius: 10px;
  margin-top: 30px;
}

h2 {
  text-align: center;
  margin-top: 40px;
  font-size: 32px;
}

.Admission p {
  font-size: 20px;
  text-align: center;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  margin-top: 20px;
  background-color: rgb(255, 196, 0);
}

.Campuses div {
  margin-left: 25px;
}

.Campuses p {
  font-size: 20px;
  text-align: left;
  font-family: sans-serif;
}

ul {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 17px;
}

.Contact p {
  font-size: 20px;
  text-align: center;
  font-family: "Arial Narrow Bold", sans-serif;
  margin-top: 10px;
  background-color: rgb(155, 155, 95);
}

.image {
  width: 100%;
}
h1{
  font-size: 25px;
}
@media (min-width:300px) and (max-width: 600px) {
  nav div {
    display: inline-block;
    margin-left: 1px;
  }

  nav {
    background-color: yellow;
    display: flex;
    align-items: center;
  }

  nav a {
    margin-left: 1px;
    font-family: "Times New Roman", serif;
   font-size: 13px;
   font-weight: 100px;
    text-decoration: none;
    color: black;
  }

  .logo img {
    width: 25px;
  }

  .anchors {
    margin-left: 15px;
  }

  .hero {
    text-align: center;
  }

  .hero div {
    display: inline-block;
    width: 40%;
    margin-top: 20px;
  }

  .description p {
    font-size: 10px;
    height: fit-content;
  }

  .banner img {
    height: 150px;
    padding-left: 2px;
  }

  .about h1 {
    text-align: center;
    font-size: 25px;
  }

  .aboutsection {
    margin: auto;
    margin-top: 50px;
  }

  .about p {
    text-align: justify;
    margin: 20px 20px;
  }

  .coursesection {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .coursesection .course {
    width: 37%;
    display: inline-block;
    margin: 15px 15px;
    box-shadow: 5px 5px 10px black;
    padding: 4px;
    border-radius: 10px;
  }

  h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
  }

  .Admission p {
    font-size: 16px;
    text-align: center;
    font-family: Impact, "Arial Narrow Bold", sans-serif;
    margin-top: 15px;
    background-color: rgb(255, 196, 0);
  }

  .Campuses div {
    margin-left: 25px;
  }

  .Campuses p {
    font-size: 16px;
    text-align: left;
    font-family: sans-serif;
    margin-top: 10px;
  }

  .Contact p {
    font-size: 16px;
    text-align: center;
    font-family: "Arial Narrow Bold", sans-serif;
    margin-top: 10px;
    background-color: rgb(155, 155, 95);
  }

  h1 {
    font-size: 10px;
  }

  .image {
    width: 100%;
  }
}
